.App {
  text-align: center;
  font-family: sans-serif;
  font-size: 12px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.dress-decription {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  flex-direction: row;
  flex: auto;
  display: flex;
  justify-content: space-around;

}
.dress-decription dt, .dress-decription dd {
  display: inline-block;
  flex: 1
}

.events-list li {
  list-style: none;
}
.events-list li label {
  display: inline-block;
  width: 100px;
  font-weight: bold;
}